{% extends 'base.html' %}

{% block body %}
    <h2>Update Post</h2>
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.form_blog.media }}
            {{ form.form_blog.non_field_errors }}
            {{ form.form_ingredient.non_field_errors }}
            <div class="form-group mb-2">
                {{ form.form_blog.title.label_tag }}
                {{ form.form_blog.title }}
                {{ form.form_blog.cooking_time.label_tag }}
                {{ form.form_blog.cooking_time }}
                {{ form.form_blog.servings.label_tag }}
                {{ form.form_blog.servings }}
            </div>
            <div id="ingredients" class="form-group my-5">
                <div class="form-row">
                    <label class="border-bottom">Ingredient: </label>
                    <a id="add-ingredient" class="mx-auto p-1" href="#"><span class="add-ingredient">Add +</span></a>
                </div>
                {{ form.form_ingredient.management_form }}
                {% for inline_form in form.form_ingredient %}
                    <div id="ingredient" class="ingredient form-row mb-3">
                        {{ inline_form.id }}
                        <div class="col-md-1 mr-1">
                            {{ inline_form.quantity.label_tag }}
                            {{ inline_form.quantity }}
                        </div>
                        <div class="col-md-2 mr-1">
                            {{ inline_form.metric.label_tag }}
                            {{ inline_form.metric }}

                        </div>
                        <div class="col-md-4">
                            {{ inline_form.name.label_tag }}
                            {{ inline_form.name }}
                        </div>
                        {{ inline_form.DELETE }}
                    </div>
                    <div class="d-flex">{{ inline_form.errors }}</div>
                {% endfor %}
            </div>
            <div class="form-group mb-2">
                {{ form.form_blog.content.label_tag }}
                <div>
                    {{ form.form_blog.content }}
                </div>
                <div class="invalid-feedback">
                    {{ form.form_blog.content.errors }}
                </div>
            </div>
            <div class="form-group">
                {{ form.form_blog.image.label_tag }}
                {{ form.form_blog.image }}
            </div>
            <button class="btn pink" type="submit">Update Post</button>
        </form>
    </div>
    <script type="text/javascript">
           $(function() {
               $('.ingredient').formset({ 
                   addText: 'Add +', 
                   addCssClass: 'add-ingredient', 
                   removeText: 'Remove', 
                   deleteCssClass: 'align-self-end pb-2 pl-2', 
                   addButton: $('#add-ingredient'),
                   prefix: 'ingredient' });
           })
    </script>
{% endblock body %} 