{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block body %}
  <div class="row pink vh100">
      <div class="col-lg-3 pink"></div>
      <div class="col-lg-6 mt-3 mb-5 bg-white shadow-sm d-flex flex-column justify-content-center">
        {% comment %} <div class="col-lg-3"></div> {% endcomment %}
        <div class="col-lg-6 align-self-center mt-5">
          <h2>Change Password</h2>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn pink" type="submit">Change</button>
          </form>
        </div>
        
        {% comment %} <div class="col-lg-3"></div> {% endcomment %}
      </div>
      <div class="col-lg-3 pink"></div>
    </div>
{% endblock %}