{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% load static %}

{% block body %}
	<!-- Page Preloder 
	<div id="preloder">
		<div class="loader"></div>
	</div> -->

	<!-- Header section -->
	<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hero-slide-item set-bg" data-setbg="{% static 'res/img/slider-bg-1.jpg' %}">
				<div class="hs-text">
					<h2 class="hs-title-1"><span>Healthy Recipes</span></h2>
					<h2 class="hs-title-2"><span>from the best chefs</span></h2>
					<h2 class="hs-title-3"><span>for all the foodies</span></h2>
				</div>
			</div>
			<div class="hero-slide-item set-bg" data-setbg="{% static 'res/img/slider-bg-2.jpg' %}">
				<div class="hs-text">
					<h2 class="hs-title-1"><span>Healthy Recipes</span></h2>
					<h2 class="hs-title-2"><span>from the best chefs</span></h2>
					<h2 class="hs-title-3"><span>for all the foodies</span></h2>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->
{% endblock %}